[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
pylint = "*"

[packages]
virt_media_tool = {editable = true,path = "."}

[requires]
python_version = "3.7"
